@using System.Text
@using doAn.Models
@{
    ViewBag.Title = "Index";
}
<main class="app-content">
    <div class="row">
        <div class="col-md-12">
            <div class="app-title">
                <ul class="app-breadcrumb breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><b>Báo cáo doanh thu    </b></a></li>
                </ul>
                <div id="clock"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-3">
            <div class="widget-small primary coloured-icon">
                <i class='icon  bx bxs-user fa-3x'></i>
                <div class="info">
                    @{
                        var db = new doAn.Models.DuLieu2Entities2();
                        var slnv = (from a in db.TaiKhoans select a.taiKhoan1).Count();
                        <h4>Tổng số nhân viên</h4>
                        <p><b>@slnv nhân viên </b></p>
                        <p class="info-tong">Tổng số nhân viên được quản lý.</p>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="widget-small info coloured-icon">
                <i class='icon bx bxs-purchase-tag-alt fa-3x'></i>
                <div class="info">
                    @{
                        
                        var slsp = (from a in db.SanPhams select a.maSP).Count();
                        <h4>Tổng sản phẩm</h4>
                        <p><b>@slsp sản phẩm</b></p>
                        <p class="info-tong">Tổng số sản phẩm được quản lý.</p>
                    }
                    
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="widget-small warning coloured-icon">
                <i class='icon fa-3x bx bxs-shopping-bag-alt'></i>
                <div class="info">
                    @{
                      
                        var sldh = (from a in db.DonHangs select a.soDH).Count();
                        <h4>Tổng đơn hàng</h4>
                        <p><b>@sldh sản phẩm</b></p>
                        <p class="info-tong">Tổng số đơn hàng đã bán.</p>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="widget-small danger coloured-icon">
                <i class='icon fa-3x bx bxs-info-circle'></i>
                <div class="info">
                    <h4>Bị cấm</h4>
                    <p><b>4 nhân viên</b></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-3">
            <div class="widget-small primary coloured-icon">
                <i class='icon fa-3x bx bxs-chart'></i>
                <div class="info">
                    @{

                        var tongThuNhap = (from i in db.CtDonHangs select i.tongTien).Sum();
                        <h4>Tổng thu </h4>
                        <p><b>@string.Format("{0:#,##0}", tongThuNhap) vnd</b></p>
                        <p class="info-tong">Tổng thu nhập</p>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="widget-small info coloured-icon">
                <i class='icon fa-3x bx bxs-user-badge'></i>
                <div class="info">
                    <h4>Nhân viên mới</h4>
                    <p><b>3 nhân viên</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="widget-small warning coloured-icon">
                <i class='icon fa-3x bx bxs-tag-x'></i>
                <div class="info">
                    @{

                        var sapHetHang = (from a in db.SanPhams where a.giamGia==0 select a.maSP).Count();
                        <h4>Mặt hàng sắp hết </h4>
                        <p><b>@sapHetHang sản phẩm</b></p>
                        <p class="info-tong"> Tổng sản phẩm</p>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="widget-small warning coloured-icon">
                <i class='icon bx bxs-shopping-bags fa-3x'></i>
                <div class="info">
                    @{
                        DateTime dt1 = DateTime.Today;
                        var theonam = (from z in db.DonHangs where z.ngayGH < dt1 select z.soDH).Count();
                        <h4>Tổng đơn hàng trong năm nay </h4>
                        <p><b>@theonam đơn hàng</b></p>
                    }

                    <p class="info-tong">Tổng số hóa đơn bán hàng trong tháng.</p>
                </div>
            </div>
        </div>
    </div>
   
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div>
                    <h3 class="tile-title">TỔNG ĐƠN HÀNG</h3>
                </div>
                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>
                            <th width="10"><input type="checkbox" id="all"></th>
                            <th>Mã đơn hàng</th>
                            <th>Khách hàng</th>
                            <th>Mã sản phẩm </th>
                            <th>Số lượng</th>
                            <th>Tổng tiền</th>
                            <th>Tình trạng</th>
                            <th>Tính năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (CtDonHang i in Common.getCtDonHang2())
                            {
                                <tr>
                                    <td width="10"><input type="checkbox" name="check1" value="1"></td>
                                    <td>@i.soDH</td>
                                    <td>@i.tenKH</td>
                                    <td>@i.maSP</td>
                                    <td>@i.soLuong</td>
                                    <td>@i.tongTien đ</td>
                                    <td><span class="badge bg-success">@i.ghiChu</span></td>
                                    <td>
                                        <button class="btn btn-primary btn-sm trash" type="button" title="Xóa"><i class="fas fa-trash-alt"></i> </button>
                                        <button class="btn btn-primary btn-sm edit" type="button" title="Sửa"><i class="fa fa-edit"></i></button>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   
 
    <div class="row">
        <div class="col-md-6">
            <div class="tile">
                <h3 class="tile-title">DỮ LIỆU HÀNG THÁNG</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="tile">
                <h3 class="tile-title">THỐNG KÊ DOANH SỐ</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <canvas class="embed-responsive-item" id="barChartDemo"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="text-right" style="font-size: 12px">
        <p><b>Hệ thống quản lý V2.0 | Code by Trường</b></p>
    </div>
</main>

